<div  *ngIf="auth.isAuthenticated()">
    <br>
      <div class="container">
          <div class="container">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary">
                        <mat-icon>add</mat-icon> Add Post
                    </button>
                </div>
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary">
                        <mat-icon>add</mat-icon> Add Category
                    </button>
                </div>
                <div class="blocks">
                    <button button="submit" mat-raised-button color="primary">
                        <mat-icon>add</mat-icon> Add Users
                    </button>
                </div>
          </div>
      </div>
      <br>
      <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center" class="content">
          <mat-card class="card" >
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
             <h3>Recent Posts</h3>
            </mat-card-title>
            <mat-card-content>
                <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSource">
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                      </ng-container>
                  
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                      </ng-container>
                  
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                      </ng-container>
                  
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="symbol">
                        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      <mat-paginator [length]="20"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 20]">
                      </mat-paginator>
                    </mat-table>
                  </div>
                  
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card class="card-picture" *ngFor="let picture of pictures">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{picture.title}}</span>
            <mat-icon fxFlex="10%">mode_edit</mat-icon>
            <mat-icon fxFlex="10%">delete</mat-icon>
          </mat-card-title>
          <img mat-card-image [src]="picture.img">
        </mat-card>
      </div> -->
</div>
<div *ngIf="!auth.isAuthenticated()">
  login
</div>